/* hoja de estilos clase 3*/
/* id... #xxxx */

#encabezado {
    position: absolute;
    top: 0;
    left: 0;
    height: 8%;
    width: 100%;
    background-color: red;
    color: white;
}

#encabezado h1 {
    display: inline
}

#menu {
    position: absolute;
    top: 8%;
    left: 0;
    height: 4%;
    width: 100%;
    background-color: red;
    color: white;
}


#menu a {
    background-color: red;
    color: black;
}

#menu a:hover {
    background-color: green;
    color: white;
}

#barralateral {
    position: absolute;
    top: 12%;
    left: 0;
    height: 81%;
    width: 20%;
    background-color: red;
    padding: 10px;

}


#contenido {
    position: absolute;
    top: 25%;
    left: 0%;
    height: 50%;
    width: 50%;
    background-color: red;
    padding: 10px;
    overflow: auto;
    text-align: center;
}

#encabezadoTabla {
    background-color: red;
    color: white;
}

#tablaResumen tr:nth-child(odd){
    background-color: coral;
    color: blue;
    
}

#tablaResumen tr:nth-child(even){
    background-color: white;
    color: red;
    
}

#piepagina {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 8%;
    width: 100%;
    background-color: yellowgreen;
    text-align: center;

}